<div id="movies-form-page">
  <%= form_with(model: movie, local: true)  do |form| %>
    <div id="movie-form">

      <% if movie.errors.any? %>

        <div id="error_explanation" class="bg-danger text-light p-2">

          <div class="font-weight-bold"><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</div>

          <ul>
            <% movie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>

        </div>

      <% end %>

      <div class="card-body">
        <div class="row p-3">
          <div class="col-md-6 ">
            <%= form.label :image,'Select new poster', class: 'btn btn-block btn-sm btn-primary w-75 mx-auto', id: 'image-input-label' %>
            <%= form.file_field :image, class: 'invisible' %>

            <div id="preview-image-container" class="d-flex justify-content-center mt-1">
            </div>

            <% if @movie.image.attached? %>
              <div class="field form-group mt-1 w-75 mx-auto mb-0" id="remove-poster-field-group">
                <%= form.check_box :remove_image %>
                <%= form.label :remove_image, "Remove poster image", class: 'font-weight-bold text-muted small' %>
              </div>
              <div class="d-flex justify-content-center">
                <%= image_tag @movie.image, class: 'w-75', id: 'existing-image' %>
              </div>
            <% end %>

            <div id="instruction-container"></div>
            <div id="posters-container" class="d-none flex-wrap">
            </div>
          </div>
          <div class="col-md-6">

            <div class="field form-group mb-4">
              <%= form.label :movie_type, class: 'font-weight-bold text-muted small' %>
              <%= select_tag('movie[movie_type]', options_for_select([['Movie', 1], ['Tv serie', 2]], movie.movie_type ) , class: "form-control form-control-sm #{'d-none' if controller.action_name == 'edit'}", :prompt => "-- Choose type --")  %>
              <% if controller.action_name == 'edit' %>
                <div class="font-weight-bold small">
                  <% if movie.movie_type == 1 %>
                    Movie
                  <% else %>
                    Tv serie
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="field form-group mb-4" >
              <%= form.label :title, class: 'font-weight-bold text-muted small' %>
              <%= form.text_field :title, class: 'form-control form-control-sm' %>
            </div>

            <div class="field form-group mb-4">
              <%= form.label :original_title, class: 'font-weight-bold text-muted small' %>
              <%= form.text_field :original_title, class: 'form-control form-control-sm' %>
            </div>

            <div class="transition-group mb-4" id="seasons-container">
              <div class="font-weight-bold text-muted small">SEASONS: </div>
              <div id="fieldsetContainer" class="field form-group mb-1">
                <%= form.fields_for :seasons do |seasons_form| %>
                  <fieldset id="<%= seasons_form.index %>" class="">
                    <div class="row">
                      <div class="col-md-4">
                        <%= seasons_form.label :season_no, class: 'font-weight-bold text-muted small' %>
                        <%= seasons_form.number_field :season_no, class: 'form-control form-control-sm', readonly: true %>
                      </div>
                      <div class="col-md-8">
                        <%= seasons_form.label :episodes, class: 'font-weight-bold text-muted small' %>
                        <%= seasons_form.number_field :episodes, class: 'form-control form-control-sm' %>
                      </div>
                    </div>

                    <%= content_tag('a', 'Remove season', id: "del-"+seasons_form.index.to_s, class:"py-1 px-2 badge badge-danger align-self-center pointer-element d-block mt-1 mb-2 remove-season-button")  %>
                    <%= seasons_form.check_box :_destroy, class: 'd-none destroy-season-checkox'%>

                  </fieldset>
                <% end %>
              </div>

              <div id="addSeason" class="py-1 px-2 badge badge-info align-self-center pointer-element w-100">Add season</div>
            </div>

            <div class="field form-group mb-4" id="year-start-field-group">
              <%= form.label :year_start, class: 'font-weight-bold text-muted small' %>
              <%= form.select :year_start, options_for_select(1895..2030, movie.year_start), {include_blank: "-- Choose year --"}, {class: 'form-control form-control-sm', id: 'year-start'}   %>
            </div>

            <div class="field form-group mb-4 transition-group" id="year-end-field-group">
              <%= form.label :year_end, class: 'font-weight-bold text-muted small' %>
              <%= form.select :year_end, options_for_select(1895..2030, movie.year_end),  {include_blank: "-- Choose year --"}, {class: 'form-control form-control-sm', id: 'year-end'} %>
            </div>

            <div class="field form-group mb-4" id="duration-field-group">
              <%= form.label :duration, "Duration (minutes)", class: 'font-weight-bold text-muted small' %>
              <%= form.number_field :duration, class: 'form-control form-control-sm' %>
            </div>

            <div class="field form-group mb-4">
              <%= form.label :description, class: 'font-weight-bold text-muted small' %>
              <%= form.rich_text_area :description %>
            </div>

          </div>
        </div>

      </div>

      <div class="card-footer text-center">
        <div class="actions">
          <%= form.submit class: 'btn btn-info btn-block' %>
        </div>
      </div>

    </div>

  <% end %>
</div>




