<div id="movies-index-page" class="card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div class="movies-selector d-flex align-items-center">
      <div>
        <%= link_to movies_path,
                    class: "btn btn-info my-1 mx-5 #{'btn-sm' unless @allmovies} #{'active font-weight-bold border-button' if @allmovies}", :action => 'go' do %>
          <h1 class="<%= 'font-weight-bold' if @allmovies %> h6 m-0 movie-button  >">All movies</h1>
        <% end %>
      </div>

      <div>
        <%= link_to 'Movies', onlymovies_path,
                    class: "btn btn-info ml-5 my-1 h6 m-0 movie-button #{ 'btn-sm' unless @onlymovies}  #{'active font-weight-bold border-button' if @onlymovies}" %>
        <%= link_to 'Tv series', onlytvseries_path,
                    class: "btn btn-info mx-2 my-1 h6 m-0 movie-button #{'btn-sm' unless @onlytvseries }  #{'active font-weight-bold border-button' if @onlytvseries}" %>
      </div>
    </div>

    <div>
      <% if user_signed_in? %>
        <%= link_to 'New Movie', new_movie_path, class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>

  </div>

  <div class="card-body">
    <div class="row p-3">

      <table class="table table-bordered table-hover table-sm table-responsive-lg">
        <thead>
        <tr  class="d-flex">
          <th class="col-3">Title</th>
          <th class="col-2">Original title</th>
          <th class="col-1">Type</th>
          <th class="col-1">Ranking</th>
          <th class="col-1">Year start</th>
          <th class="col-1">Year end</th>
          <th class="col-3" colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @movies.each do |movie| %>
          <tr  class="d-flex">
            <td class="col-3"><%= movie.title %></td>
            <td class="col-2"><%= movie.original_title %></td>
            <td class="col-1"><%= movie.movie_type %></td>
            <td class="col-1">test</td>
            <td class="col-1"><%= movie.year_start %></td>
            <td class="col-1"><%= movie.year_end %></td>
            <td class="col-3 text-center">
              <div class="d-flex justify-content-between">
                <%= link_to 'Show', movie, class: 'btn btn-info btn-sm' %>
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-secondary btn-sm' %>
                  <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </div>

              <% if movie.users.where(id: current_user.id).first %>
                <div class="btn btn-dark btn-sm my-1 btn-outline-secondary btn-block disabled">Added</div>
              <% else %>
                <%= form_with(model: @mymovie, local: true) do |form| %>
                  <div class="field">
                    <%= form.hidden_field :movie_id, :value => movie.id %>
                  </div>
                  <div>
                    <%= form.submit "Add to my list", class: 'my-1 btn btn-primary btn-sm btn-block' %>
                  </div>
                <% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>








