<div id="movies-show-page" class=" card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div>
      <h1><%= @movie.title %></h1>
    </div>

    <div>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-info btn-sm' %>
        <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>

      <% end %>
      <%= link_to 'Back', movies_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>

  <div class="card-body">
    <div class="row p-3">
      <div class="col-md-6">
        <% if @movie.image.attached? %>
          <div class="d-flex justify-content-center">
            <%= image_tag @movie.image, class: 'w-75 border' %>
          </div>
        <% else %>
          <div class="image-replacement d-flex justify-content-center align-items-center">
            <div class="text-light">
              No poster
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">

        <% if @movie.original_title %>
          <p>
            <strong>Original title:</strong>
            <%= @movie.original_title %>
          </p>
        <% end %>

        <p>
          <strong>Type:</strong>
          <%= Movie::TYPES[@movie.movie_type.to_s]  %>
        </p>

        <% if @movie.ranking_avg %>
          <p>
            <strong>Total ranking:</strong>
            <%= @movie.ranking_avg %>
          </p>
        <% end %>

        <p>
          <strong>
            <%= @movie.movie_type == Movie::TYPE_TVSERIE ? 'Year start: ' : 'Year: ' %>
          </strong>
          <%= @movie.year_start %>
        </p>

        <% if @movie.movie_type == Movie::TYPE_TVSERIE %>
          <p>
            <strong>Year end:</strong>
            <%= @movie.year_end %>
          </p>
        <% end %>

        <% if @movie.duration %>
          <p>
            <strong>Duration:</strong>
            <%= @movie.duration %> min.
            <% if @movie.movie_type == Movie::TYPE_TVSERIE %>
              (single episode approx. duration)
            <% end %>
          </p>
        <% end %>

        <% if @movie.movie_type == 2 %>
          <div class="mb-3">
            <strong>Seasons: </strong> <%= @movie.seasons.size %>
            <div>
              <% @movie.seasons.each do |season| %>
                <div>Season <%= season.season_no %>: <%= season.episodes %> episodes</div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @movie.description %>
          <p>
            <strong>Description:</strong>
            <%= @movie.description %>
          </p>
        <% end %>

      </div>

    </div>
  </div>

  <div class="card-footer">
    <div>
      <small>
        <strong>Added by: </strong><%= @movie.added_by.username %>
        <strong> at: </strong><%= @movie.created_at.in_time_zone("Warsaw").strftime("%d-%m-%Y %H:%M") %>
      </small>
    </div>


    <div><small>
      <strong>Last updated by: </strong> <%= @movie.updated_by.username %>
      <strong> at: </strong><%= @movie.updated_at.in_time_zone("Warsaw").strftime("%d-%m-%Y %H:%M") %></small>
    </div>
  </div>

</div>




