<div id="mymovies-form-page">
  <%= form_with(model: mymovie, local: true) do |form| %>
    <div id="mymovie-form">

      <% if mymovie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(mymovie.errors.count, "error") %> prohibited this mymovie from being saved:</h2>

          <ul>
            <% mymovie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="card-body">
        <div class="row p-3">

          <div class="col-md-6">
          </div>

          <div class="col-md-6">

            <div class="field form-group mb-4">
              <%= form.label :movie_id, class: 'font-weight-bold text-muted small' %>

              <select name="mymovie[movie_id]" id="mymovie_movie_id" class="form-control form-control-sm">
              <option value="">-- Choose the movie --</option>
                <% Movie.all.each do |movie| %>
                  <option
                    <%= "#{'selected' if mymovie.movie and movie.id == mymovie.movie.id }" %>
                    value="<%= movie.id %>" data-type="<%= movie.movie_type %>"><%= movie.title %>
                  </option>
                <% end %>
              </select>
            </div>

            <% if !mymovie.movie %>
              <%= form.hidden_field :status, :value => "1" %>
            <% end %>

            <% if mymovie.status == 1 || mymovie.status == 2 %>
              <div class="field form-group mb-4">
                <%= form.check_box :urgent %>
                <%= form.label :urgent, class: 'font-weight-bold text-muted small' %>
              </div>
            <% end %>

            <div class="field form-group mb-4">
              <%= form.label :watching_start, "Watched at", class: 'font-weight-bold text-muted small', id: 'watching-start-label' %>
              <br>
              <div class="d-flex">
                <%= form.date_select :watching_start,
                                     {
                                         :order => [:day, :month, :year],
                                         :start_year => 2015, :end_year => 2030,
                                         prompt: {day: '-- day --', month: '-- day --', year: '-- year --'}
                                     }, {:class => 'form-control form-control-sm mr-1'} %>
              </div>

            </div>

            <div class="field form-group mb-4 transition-group" id="watching-end-field-group">
              <%= form.label :watching_end, class: 'font-weight-bold text-muted small' %>
              <br>
              <div class="d-flex">
                <%= form.date_select :watching_end,
                                     {
                                         :order => [:day, :month, :year],
                                         :start_year => 2015, :end_year => 2030,
                                         prompt: {day: '-- day --', month: '-- day --', year: '-- year --'}
                                     }, {:class => 'form-control form-control-sm mr-1'} %>
              </div>
            </div>

            <div class="field form-group mb-4">
              <%= form.label :times_watched, class: 'font-weight-bold text-muted small' %>
              <%= form.number_field :times_watched, class: 'form-control form-control-sm' %>
            </div>

            <% if mymovie.status == 3 %>
              <div class="field form-group mb-4">
                <%= form.label :ranking, class: 'font-weight-bold text-muted small' %>
                <%= form.select :ranking, options_for_select(1..10, mymovie.ranking), {include_blank: "-- My ranking --"}, {class: 'form-control form-control-sm'}   %>
              </div>
            <% end %>

            <div class="field form-group mb-4 transition-group" id="watching-season-field-group">
              <%= form.label :watching_season, class: 'font-weight-bold text-muted small' %>
              <%= form.number_field :watching_season, class: 'form-control form-control-sm' %>

              <!--  left for api requests feature-->
              <%#= form.select :watching_season, options_for_select(1..(mymovie.movie ? mymovie.movie.seasons.size : 100), mymovie.watching_season), {include_blank: "-- No. of season --"}, {class: 'form-control form-control-sm'}   %>

            </div>

            <div class="field form-group mb-4 transition-group" id="last-episode-field-group">
              <%= form.label :last_episode, class: 'font-weight-bold text-muted small' %>
              <%= form.number_field :last_episode, class: 'form-control form-control-sm' %>
            </div>

            <div class="field form-group mb-4 transition-group">
              <%= form.label :impression, class: 'font-weight-bold text-muted small' %>
              <%= form.rich_text_area :impression %>
            </div>


          </div>
        </div>
      </div>

      <div class="card-footer text-center">
        <div class="actions">
          <%= form.submit class: 'btn btn-info btn-block' %>
        </div>
      </div>

    </div>
  <% end %>
</div>

