<div class="card-body border">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
      <% if mymovie.movie.movie_type == 2 %>
        <div class="mx-3">Seas.: <%= mymovie.watching_season %></div>
        <div class="mx-3">Epis.: <%= mymovie.last_episode %></div>
      <% end %>
      <div>Urgent: <%= mymovie.urgent %></div>
      <% if mymovie.urgent? %>
        <a href="#"
           class="btn btn-secondary btn-block"
           data-reflex="click->UrgentReflex#noturgent"
           data-mymovie-id="<%= mymovie.id %>"
        >Make not urgent</a>
      <% else %>
        <a href="#"
           class="btn btn-dark"
           data-reflex="click->UrgentReflex#urgent"
           data-mymovie-id="<%= mymovie.id %>"
        >Make urgent</a>
      <% end %>
    </div>

    <div class="d-flex">
      <% if mymovie.status == 1 %>
        <a href="#"
           class="btn btn-dark btn-sm ml-1"
           data-reflex="click->MymovieStatusReflex#start_watching"
           data-mymovie-id="<%= mymovie.id %>"
        >Start watching</a>
      <% end %>

      <%= link_to 'Delete', mymovie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm ml-1' %>
    </div>
  </div>

</div>