<div class="card-body border">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
    <div>

      <%= form_for mymovie, url: resetStatus_mymovie_path(mymovie), method: :put do |form|%>
        <div class="field">
          <%= form.hidden_field :status, :value => "2" %>
          <%= form.hidden_field :id, :value => mymovie.id %>
        </div>
        <div>
          <%= form.submit "Try again", class: 'btn btn-dark btn-sm' %>
        </div>
      <% end %>

    </div>
  </div>
</div>