<div class="card-body rounded during-mymovies">
  <div class="">
    <% if mymovie.movie.movie_type == 2 %>
      <div class="d-flex mb-2">
        <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold text-decoration-none' %>
      </div>

      <div class="mb-1">
        <div class="row">
          <div class="col-sm-4">
            <div class="card bg-light h-100">
              <div class="card-header">Watched:</div>
              <div class="card-body info-data d-flex flex-column justify-content-center">
                <div>Season: <%= mymovie.watching_season %> <small>(<%= mymovie.movie.seasons.size %>)</small></div>
                <div>Episode: <%= mymovie.last_episode %> <small>(<%= mymovie.get_current_season_episodes %>)</small></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <!-- reflex with form -->
              <%#= form_for mymovie, url: updateEpisode_mymovie_path(mymovie), method: :put do |form|%>
              <%#= form_for mymovie, data: { reflex: "submit->MymovieStatus#update_episodes_form" } do |form|%>
              <%#= form.hidden_field :id %>
              <%#= form.hidden_field :watching_season, class: 'form-control form-control-sm' %>
              <%#= form.hidden_field :last_episode, class: 'form-control form-control-sm' %>
              <%#= form.submit "Update form", class: 'btn btn-dark btn-sm' %>
              <%# end %>

              <% if mymovie.movie.image.attached? %>
                <%= image_tag mymovie.movie.image, class: 'card-img-top' %>
              <% else %>
                <div class="image-replacement d-flex justify-content-center align-items-center">
                  <div class="text-light">
                    No poster
                  </div>
                </div>
              <% end %>
              <a href="#"
                 class="btn btn-success btn-sm btn-block button-custom"
                 data-reflex="click->MymovieStatus#update_episodes_link"
                 data-mymovie-id="<%= mymovie.id %>"
              >Update episode</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light h-100">
              <div class="card-header">Watch now:</div>
              <div class="card-body d-flex flex-column justify-content-center">
                <div>Season: <%= mymovie.watching_season %></div>
                <div class="bg-info text-white px-1 rounded font-weight-bold">Episode: <%= mymovie.last_episode + 1 %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if mymovie.movie.movie_type == 1 %>

      <div class="container-fluid px-0">
        <div class="row mx-0">

          <div class="col-2 p-0">
            <% if mymovie.movie.image.attached? %>
              <%= image_tag mymovie.movie.image, class: 'card-img-top' %>
            <% else %>
              <div class="image-replacement d-flex justify-content-center align-items-center bg-secondary h-100">
                <div class="text-light">
                  <small>No poster</small>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-10 d-flex flex-column justify-content-between pr-0">
            <div>
              <div class="d-flex mb-2">
                <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold text-decoration-none' %>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-end mt-3">

                <div>
                  <a href="#"
                     class="btn btn-dark btn-sm mr-1 button-custom"
                     data-reflex="click->MymovieStatusReflex#mark_as_watched"
                     data-mymovie-id="<%= mymovie.id %>"
                  >Mark as watched</a>
                </div>

                <div>
                  <a href="#"
                     class="btn btn-dark btn-sm button-custom"
                     data-reflex="click->MymovieStatusReflex#drop_watching"
                     data-mymovie-id="<%= mymovie.id %>"
                  >Drop</a>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

    <% end %>

    <% if mymovie.movie.movie_type == 2 %>
      <div class="d-flex justify-content-end mt-3">
        <div>
          <a href="#"
             class="btn btn-dark btn-sm button-custom"
             data-reflex="click->MymovieStatusReflex#drop_watching"
             data-mymovie-id="<%= mymovie.id %>"
          >Drop</a>
        </div>
      </div>
    <% end %>

  </div>
</div>