<div class="card-body border">
  <div class="d-flex justify-content-between">
    <div class="">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
      <div class="mr-3">Ranking: <%= mymovie.ranking %></div>
  </div>

  <div class="d-flex flex-row-reverse">
    <%= form_for mymovie, url: resetStatus_mymovie_path(mymovie), method: :put do |form|%>
      <div class="field">
        <%= form.hidden_field :status, :value => "2" %>
        <%= form.hidden_field :id, :value => mymovie.id %>
      </div>
      <div>
        <%= form.submit "Watch again", class: 'btn btn-dark btn-sm' %>
      </div>
    <% end %>
  </div>

</div>