<div class="card-body rounded during-mymovies">
  <div class="">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold text-decoration-none' %>
    </div>
    <div class="d-flex justify-content-between mb-1 align-items-center">
      <% if mymovie.movie.movie_type == 2 %>

        <div class="card">
          <div class="card-header">Last watched:</div>
          <div class="card-body">
            <div>Season: <%= mymovie.watching_season %> <small>(<%= mymovie.movie.seasons.size %>)</small></div>
            <div>Episode: <%= mymovie.last_episode %> <small>(<%= mymovie.get_current_season_episodes %>)</small></div>
          </div>
        </div>

        <div>
          <!-- reflex with form -->
          <%#= form_for mymovie, url: updateEpisode_mymovie_path(mymovie), method: :put do |form|%>
          <%#= form_for mymovie, data: { reflex: "submit->MymovieStatus#update_episodes_form" } do |form|%>
            <%#= form.hidden_field :id %>
            <%#= form.hidden_field :watching_season, class: 'form-control form-control-sm' %>
            <%#= form.hidden_field :last_episode, class: 'form-control form-control-sm' %>
            <%#= form.submit "Update form", class: 'btn btn-dark btn-sm' %>
          <%# end %>

          <a href="#"
             class="btn btn-success btn-sm btn-block "
             data-reflex="click->MymovieStatus#update_episodes_link"
             data-mymovie-id="<%= mymovie.id %>"
          >Update episode</a>
        </div>

        <div class="card bg-light">
          <div class="card-header">Now watch:</div>
          <div class="card-body">
            <div>Season: <%= mymovie.watching_season %></div>
            <div class="bg-info text-white px-1 rounded font-weight-bold">Episode: <%= mymovie.last_episode + 1 %></div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <% if mymovie.movie.movie_type == 1 %>
        <div>
          <a href="#"
             class="btn btn-dark btn-sm mr-1"
             data-reflex="click->MymovieStatusReflex#mark_as_watched"
             data-mymovie-id="<%= mymovie.id %>"
          >Mark as watched</a>
        </div>
      <% end %>
      <div>
        <a href="#"
           class="btn btn-dark btn-sm"
           data-reflex="click->MymovieStatusReflex#drop_watching"
           data-mymovie-id="<%= mymovie.id %>"
        >Drop</a>
      </div>
    </div>
  </div>
</div>