<div class="card-body rounded during-mymovies">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to mymovie.movie.title, mymovie, class: 'font-weight-bold' %>
    </div>
    <div>

      <%= form_for mymovie, url: resetStatus_mymovie_path(mymovie), method: :put do |form|%>
        <div class="field">
          <%= form.hidden_field :status, :value => "4" %>
          <%= form.hidden_field :id, :value => mymovie.id %>
        </div>
        <div>
          <%= form.submit "Drop", class: 'btn btn-dark btn-sm' %>
        </div>
      <% end %>

    </div>
  </div>

  <% if mymovie.movie.movie_type == 2 %>
    <div>
      <p>Sezony</p>
      <!--      <div class="mr-3"><%#= mymovie.watching_season %></div>-->
      <!--      <div class="mr-3"><%#= mymovie.last_episode %></div>-->
    </div>

  <% else %>

    <p>Czas</p>
  <% end %>
</div>