<div id="movies-index-page" class="card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header my-movies-card-header">

    <div class="movies-selector d-flex align-items-center">
      <div>
        <%= link_to mymovies_path,
                    class: "btn btn-info my-1 mx-5 #{'btn-sm' unless @allmymovies} #{'active font-weight-bold border-button' if @allmymovies}", :action => 'go' do %>
          <h1 class="<%= 'font-weight-bold' if @allmymovies %> h6 m-0 movie-button  >">My movies</h1>
        <% end %>
      </div>

      <div>
        <%= link_to "My tvseries", myonlytvseries_path,
                    class: "btn btn-info my-1 mx-5 movie-button #{'btn-sm' unless @allmytvseries} #{'active font-weight-bold border-button' if @allmytvseries}", :action => 'go' %>
      </div>
    </div>

    <div>
        <%= link_to 'My new movie', new_mymovie_path, class: 'btn btn-info btn-sm' %>
    </div>

  </div>
  <div class="card-body my-movies-card-body">
    <div class="row">
      <div class="col-md-6">

        <div class="card mb-5 ">
          <div class="card-header">
            <h5>Watching now</h5>
          </div>
          <div class="">
            <%= render partial: 'status_during', collection: @during = @mymovies.where(status: Mymovie::STATUS_DURING), as: :mymovie %>
            <% if @during.size == 0 %>
              <div class="card-body"><small>Empty</small></div>
            <% end %>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-header">
            <h5>Waiting list</h5>
          </div>
            <div class="">
              <%= render partial: 'status_before', collection: @before = @mymovies.where(status: Mymovie::STATUS_BEFORE), as: :mymovie %>
              <% if @before.size == 0 %>
                <div class="card-body"><small>Empty</small></div>
              <% end %>
            </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="card mb-5">
          <div class="card-header">
            <h5>Completed</h5>
          </div>
          <div class="">
            <%= render partial: 'status_after', collection: @after = @mymovies.where(status: Mymovie::STATUS_AFTER), as: :mymovie %>
            <% if @after.size == 0 %>
              <div class="card-body"><small>Empty</small></div>
            <% end %>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-header">
            <h5>Dropped</h5>
          </div>
          <%= render partial: 'status_dropped', collection: @dropped = @mymovies.where(status: Mymovie::STATUS_DROPPED), as: :mymovie %>
          <% if @dropped.size == 0 %>
            <div class="card-body"><small>Empty</small></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
