<div id="movies-index-page" class="card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div class="movies-selector d-flex align-items-center">
      <div>
        <%= link_to mymovies_path,
                    class: "btn btn-info my-1 mx-5 #{'btn-sm' unless @allmymovies} #{'active font-weight-bold border-button' if @allmymovies}", :action => 'go' do %>
          <h1 class="<%= 'font-weight-bold' if @allmymovies %> h6 m-0 movie-button  >">Movies</h1>
        <% end %>
      </div>

      <div>
        <%= link_to "Tvseries", myonlytvseries_path,
                    class: "btn btn-info my-1 mx-5 #{'btn-sm' unless @allmytvseries} #{'active font-weight-bold border-button' if @allmytvseries}", :action => 'go' %>
      </div>
    </div>

    <div>
        <%= link_to 'My new movie', new_mymovie_path, class: 'btn btn-info btn-sm' %>
    </div>

  </div>
  <div class="card-body">
    <div class="">
      <div>
        <% @mymovies.each do |mymovie| %>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="mr-3"><%= mymovie.movie.title %></div>
              <div class="mr-3"><%= mymovie.status %></div>
              <div class="mr-3"><%= mymovie.urgent %></div>
              <div class="mr-3"><%= mymovie.watching_season %></div>
              <div class="mr-3"><%= mymovie.last_episode %></div>
            </div>
            <div>
              <%= link_to 'Show', mymovie, class: 'btn btn-info btn-sm' %>
              <%= link_to 'Edit', edit_mymovie_path(mymovie), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Destroy', mymovie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>

    </div>
  </div>
</div>
