<div id="mymovies-show-page" class=" card mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center card-header">

    <div>
      <%= link_to @mymovie.movie, class: '' do %>
        <h1> <%= @mymovie.movie.title %></h1>
      <% end %>
    </div>

    <div>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_mymovie_path(@mymovie), class: 'btn btn-info btn-sm' %>
      <% end %>
      <%= link_to 'Back', mymovies_path, class: 'btn btn-secondary btn-sm' %>
      <%= link_to 'Destroy', @mymovie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </div>

  </div>

  <div class="card-body">
    <div class="row p-3">
      <div class="col-md-6">
      </div>

      <div class="col-md-6">
        <div class="bg-light p-2 border border-dark mb-2">
          <div>
            <%= @mymovie.movie.original_title %>
          </div>

          <div>
            <% if @mymovie.movie.movie_type == 1 %>
              <small>movie</small>
            <% else %>
              <small>tvserie</small>
            <% end %>
          </div>

          <div>
            <%= "8,7" %>
          </div>

          <div>
            <%= "#{@mymovie.movie.year_start}" + "#{' - ' if @mymovie.movie.movie_type == 2 }"  + "#{@mymovie.movie.year_end}" %>
          </div>

          <div>
            <%= "#{@mymovie.movie.duration}" + " min"%>
          </div>
        </div>

        <div class="p-2">

          <div>
            <strong>Status:</strong>
            <%= @mymovie.status %>
          </div>

          <div>
            <strong>Urgent:</strong>
            <%= @mymovie.urgent %>
          </div>

          <% if @mymovie.watching_start %>
            <div>
              <strong><%= @mymovie.movie.movie_type == 1 ? "Watched at:" : "Watching start: " %></strong>
              <%= @mymovie.watching_start.in_time_zone("Warsaw").strftime("%d-%m-%Y") %>
            </div>
          <% end %>

          <% if @mymovie.watching_end %>
            <div>
              <strong>Watching end:</strong>
              <%= @mymovie.watching_end.in_time_zone("Warsaw").strftime("%d-%m-%Y") %>
            </div>
          <% end %>


          <div>
            <strong>Times watched:</strong>
            <%= @mymovie.times_watched %>
          </div>

          <div>
            <strong>My ranking:</strong>
            <%= @mymovie.ranking %>
          </div>

          <div>
            <strong>Watching season:</strong>
            <%= @mymovie.watching_season %>
          </div>

          <div>
            <strong>Last episode:</strong>
            <%= @mymovie.last_episode %>
          </div>

          <div>
            <strong>Impressions:</strong>
            <%= @mymovie.impression %>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>





