<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Movies", movies_path, {class: "nav-item nav-link #{'active' if @movies}"} %>

        <% if user_signed_in? %>
          <%= link_to "My movies", mymovies_path, {class: "nav-item nav-link #{'active' if @mymovies}"} %>
        <% end %>

      </div>

      <div class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">My account</a>
              <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', :method => :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Login', user_session_path, class: 'nav-item nav-link' %>
        <% end %>

      </div>
    </div>

  </div>


</nav>
